{% extends "base.html" %} {% block title %}
Home
{% endblock %} 
{% block content%}

  <div class="container" style="background-color: aqua; border-radius: 25px; ">
    <!-- <div class="card"> -->
      <h2 class="card-header" style="text-align: center;">Featured Notes</h2>   
      <!-- </div> -->
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">Delete</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    
  </div>
  
  <!-- <h1 align="center">My Notes</h1> -->
  
  {% endblock %}